li.site.youtube{
	background-color: red;
	color: white;
	font-weight: bold;
}
li.site.wikipedia{
	font-family: serif;
}

li.site.framalibre {
	font-weight: bold;
}
li.site.framalibre .violet{
	color: #6a5687;
}
li.site.framalibre .bleu{
	color: #0c5b7a;
}

li.site.cnrtl{
	background-color: #486d9e;
	color: #d6e4fe;
}
li.site.twitter{
	background-color: #1da1f2;
	color: white;
}
li.site.facebook{
	background-color: #3b5998;
	color: #ffffff;
}

li.site.google span:nth-child(1),
li.site.google span:nth-child(4){
	color: #4285f4;
}
li.site.google span:nth-child(2),
li.site.google span:nth-child(6){
	color: #ea4335;
}
li.site.google span:nth-child(5){
	color: #34a853;
}
li.site.google span:nth-child(3){
	color: #fbbc05;
}



li.site.duckduckgo{
	background-color: #de5833;
	color: white;
}

li.site.qwant{
	background-color: #353c52;
	color: white;
}

li.site.bing{
	background-color: #00ab9b;
	color: white;
}

li.site.ecosia{
	background-color: #ededed;
	color: #4b4b4b;
	font-weight: bold;
}

li.site.deepl{
	background-color: #042d48;
	color: #fff;
	font-weight: bold;
}
li.site.linguee{
	color: #92a8bb;
	font-weight: bold;
	font-family: serif;
}
li.site.imdb{
	background-color: #f5c518;
	color: #000;
	font-weight: bold;
}
li.site.stackoverflow{
	color: #212426;
}
li.site.stackoverflow span{
	font-weight: bold;
}

li.site.thesauruscom{
	color: white;
	background-color: #f5a623;
}

li.site.dictionarycom{
	color: white;
	background-color: #0e5ab6;
}

li.site.mdnwebdocs{
	background: white;
	font-family: serif;
}
li.site.mdnwebdocs span{
	color: white;
	background: black;
}

li.site.linguee:first-letter{
	color: #65809b;
	font-family: "Caflisch Script","Adobe Poetica",Sanvito,"Ex Ponto","Snell Roundhand",Zapf-Chancery, "Apple Chancery","URW Chancery L","Comic Sans MS", "Domestic Manners","Brush Script MT",Zapfino,"Bradley Hand ITC","Monotype Corsiva",cursive;
	font-size: 2em;
	font-weight: normal;
	display: block;
	vertical-align: middle;
	line-height: 0;
}


li.site:after{
	font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
	position: absolute;
	top: 0;
	right: 0;
	margin: -.3em;
	font-size: .85em;
	text-shadow: 0 .1px 5px rgba(0,0,0,0.5);
}

li.site.bing:after, 
li.site.google:after, 
li.site.facebook:after, 
li.site.twitter:after, 
li.site.ecosia:after, 
li.site.youtube:after{
	content: "🚫⚠️ℹ️";
}

li.site.deepl:after,
li.site.linguee:after, 
li.site.imdb:after{
	content: "⚠️ℹ️";
}
li.site.qwant:after, 
li.site.duckduckgo:after{
	content: "ℹ️";
}
li.site.stackoverflow:after,
li.site.thesauruscom:after,
li.site.dictionarycom:after,
li.site.mdnwebdocs:after{
	content: "🤔";
}



