html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: Helvetica, sans;
	background: fixed linear-gradient(to bottom right, #222, #000);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
}

header h1{
	color: white;
	font-size: 3em;
	margin: 0;
	margin-top: 3rem;
	position: relative;
}
header h1 .prototype {
	background: aqua;
	color: black;
	font-family: monospace;
	font-size: 33%;
	padding: .1em .5em;
	border-radius: 2em;
	margin: 0;
	margin-left: 1em;
	position: absolute;
	top: 0;
	transform: translateX(-100%);
}
header p{
	margin: 0;
}
header {
	border: 0 solid transparent;
	margin: 0;
	padding: 1em;
	margin: 1em;
	width: calc(100% - 2em);
	margin-top: auto;
}
footer {
	border: 0 solid transparent;
	width: 100%;
	text-align: center;
	margin: 2em 0 0;
	margin-bottom: auto;
}
footer p{
	border: 0 solid transparent;
	padding: 1em;
	margin: 0 auto;
	max-width: 30rem;
	color: white;
	opacity: 0.5;
	font-size: .8em;
}
footer p a{
	text-decoration: none;
	color: aqua;
}
.emoji {
	font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}
header .input{
	border: 0;
	margin: 1em;
	border-radius: 4em;
	max-width: 40em;
	width: calc(100% - 2em);
	font-size: 1.2em;
	position: relative;
	background: white;
	display: inline-block;
}
header .input input{
	background: red;
	width: calc(100% - 2em);
	height: 100%;
	height: 2em;
	padding: .5em 1em;
	background: transparent;
	border: none;
}
header .input:after{
	content:"\1F50D";
	position: absolute;
	top: 0;
	right: 0;
	padding: .5em;
	display: block
}
#sites {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 2em 1em;
	font-size: 1.2em;
	max-width: 50em;
	width: calc(100% - 2em);
	margin: 0 auto;
	justify-content: center;
	transition: 250ms all ease;
}
.site {
	list-style: none;
	padding: 0;
	margin: .5em;
	padding: .8em 1em;
	border-radius: .4em;
	cursor: pointer;
	transition: 250ms all ease;
	transform: scale(1);
	background-color: white;
	flex-basis: 5em;
	filter: grayscale(0.75);
}
#sites:hover {
}
#sites:hover li:hover {
	transform: scale(1.1);
	filter: none;
}
#sites:hover li {
	transform: scale(0.98);
	filter: grayscale(0.5);
}
